.header-container {
    /* background-image: url("./download.jpeg"); */
    width: 100%;
    height: 100%;
    display: flex;
}

.header-container img{
    background-image: url("./download.jpeg");
    background-repeat: no-repeat;
}

div {
    /* background-image: url("./download.jpeg"); */
    height: 200px;
}