.profile-container-4{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5%;
  margin-left: 10px;
  background-image: url("./opacityprints.png");
  padding: 10px 10px;
  margin-top: 20px;
  box-shadow: 3px 3px 3px grey;
}

.profile-container-4 img{
    height: 250px;
    width: 250px;
    border: 3px solid black;
    margin: 5px 5px;
    border-radius: 10%;
  }

.profile-container-4 button {
    font-size: 15px;
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    box-shadow: 2px 2px 2px grey;
    border-radius: 15%;
  }

.profile-container-4 button:hover{
    background: black;
    color: white;
    box-shadow: 3px 3px 3px grey;
}