.App {
  font-size: 16px;
  font-family: 
  
}

.create {
  font-size: 20px;
  border-radius: 20%;
  padding: 5px 5px;
  width: 400px;
  align-self: center;
  margin: 20px 20px;
  box-shadow: 3px 3px 3px grey;

}

.create:hover {
  background: black;
  color: white;
}
.create-new {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.main {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  background: white;
  font-size: 16px;
  margin: 0 auto;
}

.main-container {
  height: calc(100vh - 150px);
  background: blue;
  width: 100%;
  font-size: 16px;
  

}

.profiles {
  /* max-width: 1200px; */
  /* background: black; */
  display: flex;
  justify-content: space-between;
  border: 2px solid grey;
  border-radius: 5%;
  overflow: scroll;
  background: grey;
  background-image: url("./prints.jpg");
  box-shadow: 3px 3px 3px grey;
}



.profile-container, .profile-container-1{
  /* height: calc(100vh - 60px); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid grey; */
  margin: 10px;
}


/* .holding-3 {
  max-width: 1000px;
  height: 200px;
} */

.friends-2 {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  overflow: scroll;
}


.profile-container-3 {
  border: 1px solid grey;
  border-radius: 5%;
  margin-left: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
  background-image: url("./opacityprints.png");
  box-shadow: 10px 5px 5px grey;
}

.profile-container-1 {
  border: 1px solid grey;
  border-radius: 5%;
  margin-left: 10px;
  background-image: url("./opacityprints.png");
  box-shadow: 10px 5px 5px grey;
}


.profile-container img, .profile-container-3 img{
  height: 150px;
  width: 150px;
  border: 2px solid white;
  margin: 5px 5px;
  border-radius: 10%;
  box-shadow: 3px 3px 3px grey;
}

.profile-container-1 img{
  height: 250px;
  width: 250px;
  border: 4px solid rgb(190, 184, 184);
  margin: 5px 5px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px black;
}

/* .App {

} */

.header-container {
  height: 100%;
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding-left: 30px;
  

}

/* .header-image-container {
  height: 100%;
  width: 100%;
  /* background-image: url("./download.jpeg");  */
  /* background-repeat: no-repeat; */
  /* background-size: cover;  */
/* } */



header {
  height: 150px;
}
.logo {
  background-image: url("./logo.png");
  background-size: cover;
  height: 160px;
  width: 485px;
  padding-bottom: 20px;

}

.pawpals {
  border: none;
  background-image: url("./heartwithpaw.png");
  height: 50px;
  width: 50px;
  background-size: cover;
  padding: 20px 20px;
  margin-right: 20px;
}

.footer {
  background-image: url("./download.jpeg");
  background-size: cover;
}