.bigcontainer {
  font-size: 16px;
  font-family: 'Merienda', cursive;
  background-attachment: fixed;
  background-image: url("./opacityprints.png");
  background-size: cover;
  height: 100%;
  overflow: scroll;
  overflow-x: scroll;
}

.create {
  font-size: 20px;
  border-radius: 20%;
  padding: 5px 5px;
  width: 200px;
  align-self: center;
  margin: 15px 15px;
  box-shadow: 3px 3px 3px grey;
  font-family: 'Merienda', cursive;
}

.create:hover {
  background: black;
  color: white;
}
.create-new {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background: #f2f2f2;
  border-top: 2px solid grey;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  background-image: url('./pawwithheartopacity.png');
  background-size: 500px;
  background-repeat: no-repeat;
}

.main {
  height: 100%;
  width: 100%;
  max-width: 1100px;
  background: white;
  font-size: 16px;
  margin: 0 auto;
}

.main-container {
  background: blue;
  width: 100%;
  height: 100%;
  max-height: 4000px;
  font-size: 16px;
  border: 5px solid grey;
  
}

.display-container{
  border: 2px solid grey;
  height: 100%;
  padding: 20px 20px;
}

.profiles {
  display: block;
  display: flex;
  justify-content: space-between;
  border: 2px solid grey;
  border-radius: 5%;
  overflow: scroll;
  background: grey;
  background-image: url("./prints.jpg");
  box-shadow: 3px 3px 3px grey;
  padding: 20px 20px;
}

.profile-container, .profile-container-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px;
}

.profile-container-1{
  margin-top: 30px;
  overflow: scroll;
  margin-right: 30px;
}

.info h1 {
  font-size: 55px;
  text-align: center;
  background-color: white;
  border: 5px solid grey;
  padding: 15px 15px;
  border-radius: 30%; 
  box-shadow: 10px 5px 5px grey;
}

.info {
  text-align: center;
  text-shadow: 2px 2px 2px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info .properties {
  font-size: 13px;
  border: 1px solid white;
  background: rgb(218, 218, 218);
  border-radius: 10%;
  color: black;
  text-shadow: 1px 1px 1px grey;
  padding: 10px 10px;
}

.friends-2 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  overflow: scroll;
}

.profile-container-3 {
  border: 1px solid grey;
  border-radius: 5%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px;
  background-image: url("./opacityprints.png");
  box-shadow: 10px 5px 5px grey;
  padding-top: 10px;
}

.button-container{
  background-image: url('./close-button.png');
  background-size: cover;
  height: 40px;
  width: 30px;
  margin-bottom: 30px;
}
.delete-btn {
  height: 50px;
  width: 50px;
  align-items: center;
  padding-bottom: 10px;
}

.profile-container-1 {
  border: 1px solid grey;
  border-radius: 5%;
  margin-left: 10px;
  background-image: url("./opacityprints.png");
  background-size: 500px 500px;
  box-shadow: 10px 5px 5px grey;
}

.profile-container img, .profile-container-3 img{
  height: 150px;
  width: 150px;
  border: 2px solid white;
  margin: 5px 5px;
  border-radius: 10%;
  box-shadow: 3px 3px 3px grey;
}

.profile-container img{
  height: 170px;
  width: 170px;
}

.profile-container-1 img{
  height: 500px;
  width: 500px;
  border: 8px solid rgb(248, 245, 245);
  margin: 20px 20px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px grey;
}

.profile-container-1 img:hover{
  box-shadow: 5px 5px 5px black; 
}

.header {
  width: 100vw;
  max-width: 1100px;
  height: 150px;
  background: white;
  margin: 0 auto;
}

.logo {
  background-image: url("./logo.png");
  background-size: cover;
  height: 200px;
  width: 600px;
  margin-bottom: 20px;
}

.logo-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.pawpals {
  border: none;
  background-image: url("./heartwithpaw.png");
  height: 70px;
  width: 70px;
  background-size: cover;
  align-self: center;
  padding: 20px 20px;
  margin-right: 50px;
}

.pawpals:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.footer {
  height: 200px;
  background-image: url("./download.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}